<% content_for(:title_tag) do %>
  Leanrn more
<% end %>

<div class="container">
  <div class="col-sx-12 col-sm-6 col-sm-offset-3">
    <div class="form">
      <%= simple_form_for (@lead) do |f| %>
        <%= f.input :company %>
        <%= f.input :phone_number %>
        <%= f.input :email %>
        <%= f.input :comment %>
        <%= f.submit "Send", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
